<h2 class="text-center my-5">About Me</h2>
<div class="container">
    <p class="lead">I am a passionate web developer with a focus on building dynamic, user-friendly applications. I specialize in technologies like ASP.NET, JavaScript, and HTML/CSS. I am constantly learning and evolving in my field.</p>
    <p>I enjoy working on both front-end and back-end development. I have experience with several web frameworks and libraries such as ASP.NET Core, React, and Node.js. I'm always up for a challenge and love solving problems.</p>
</div>
